body html{
  background-image: url(.../images/background.jpg);
}

img {
  float: left;
}

p {
    font-family: sans-serif;
    font-size: 18px;
}

ul {
  font-family: sans-serif;
  font-size: 16px;
}

h1 {
  font-family: sans-serif;
  font-size: 18px;

}

.intro {
  background-color: #003333;
  color: white;
}

.test-box {
   border: 2px solid #003333;
   font-size: 18px;
   background-color: #003333;
   color: WHITE;
}
